/* For Tablets */
@media all and (max-width: 1000px) {
  .career-path {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-container h1  {
    font-size: 32px;
  }
  
  .section-title h3 {
    font-size: 20px;
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .career-path {
    width: 100%;
  }

  
  footer {
    text-align: center;
  }
  
  .top-container {
    text-align: left;
  }
  
  
 .header-logo img { 
  margin: 0;
  padding: 0;
}

  /* 
  Add CSS for menu-icon 
  .icon {
    display: block;
  }*/
  
  .top-container h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-container h1 {
     font-size: 14px;
    line-height: 20px;
  }

}
