/* For Tablets */
@media all and (max-width: 1000px) {
  .contents-item {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-container h1 h2 {
    font-size: 32px;
  }
  
  .section-title h3 {
    font-size: 20px;
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .contents-item {
    width: 100%;
  }

  main {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  .top-container {
    text-align: left;
  }
  
  /* Add CSS for header-nav */
  .header_navbar {
    display: none;
  }
  
  /* Add CSS for menu-icon */
  .menu-icon {
    display: block;
  }
  
  .top-container h1 h2 {
    font-size: 24px;
    line-height: 36px;
  }
  
}