
body, html{
width: 100%;
margin: 0;
padding: 0;
height: 100%;
}

body {
font-family: 'Lucida Grande';
}


a {
text-decoration: none;    
}

* {
box-sizing: border-box;
}

.clear {
clear: left;
}


header{
background-color: crimson;
width: 100%;
color: #f6f;
position: fixed;
top: 0;
z-index: 10;
height: 85px
}

header h1{
font-size: 20px;
margin-left: 0.2em
}

.header-logo{
float: left;
}

.header-logo img {
border-radius: 155px;
height: 100px;
margin: 0 3rem;
}


.header_navbar{
  font-size: 18px;
}

.header_navbar a{
color: #fff;
padding: 0 4rem;
float: right;
}

.icon {
  display: none;
}


/* Style the hamburger menu 
.container a .icon {
  background: black;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
}*/

.header_navbar a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Add CSS for menu-icon 
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Change the display property to none 
  display: none;
}*/


.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}



.top-container{
background-image: url(./images/cool.jpg);
background-size: cover;
text-align: center;
padding: 180px 0 100px 0;
}

.top-container h1 {
font-size: 150px;
opacity: 0.7;
margin-bottom: 10px;
}
  
.top-container h2 {
font-size: px;
opacity: 0.5px;
}
  
.top-container span {
color: crimson;
}

.contents{
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
}
  
.section-title{
  border-bottom: 2px solid #dee7ec; 
  font-size: 28px;
  padding-bottom: 15px;
  font-weight: normal;
}
  
.career-path {
  position: relative;
 float: left;
  width: 25%;
  text-align: center; 
  position: relative;
}

.career-path p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

  footer {
    background-color: #2f5167;
    padding: 40px;
    width: 100%;
  }
  
.footer_navbar a{
color: #fff;
margin-right: 3rem;
font-size: 20px
}

